Patch operations support

Implement the [RFC7644 §3.5.2](https://datatracker.ietf.org/doc/html/rfc7644#section-3.5.2) PATCH operations.

Take care to not allow these operations if they are disabled server-side in the `ServiceProviderConfig` object.